pandas
numpy
nltk
scikit-learn
matplotlib
seaborn
spaCy
Xgboost
optuna
imbalanced-learn
beautifulsoup4
selenium
webdriver-manager
tensorflow
streamlit
wordcloud
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
